.App {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #cc779c; */
  /* background-color: #6946D9; */
  /* background-color: #6946D9; */
  background-image: url('../src/images/background2.jpg');
  background-size: cover;
}




.sideColorDiv {
  width: 40%;
  height: 100%;
}

* {
  /* font-family: 'Assistant', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Seymour One', sans-serif; */
  /* font-family: 'Assistant', sans-serif; */
  font-family: 'Assistant', sans-serif;
  font-family: 'Roboto', sans-serif;

}